@import url("https://fonts.googleapis.com/css?family=Coda+Caption:800");

body {
  font-family: 'Ubuntu', sans-serif;
}

nav {
  font-family: "Coda Caption", sans-serif;
}

.App {
  text-align: center;
}

.nav {
  background-color: #569fbf;
  height: 10vh;
  padding: 20px;
  color: white;
  margin-bottom: 5px;
}

.logo {
  float: left;
  color: white;
}

.navButton {
  color: white;
  display: inline-block;
  font-size: 16px;
  float: right;
  padding-top: 30px;
}

.myProfile {
  margin-left: 15px;
}

.App-title {
  font-size: 1.5em;
}

