.usersName {
    font-size: 24px;
}

img {
    border: 1px solid black;
    margin-top: 7vh;
}

text {
    font-weight: bold;
    text-align: center;
}

interestList {
    display:list-item;
    list-style-type: disc;
    width: 10vw;
    margin-left: 15vw;
    margin-top: 3px;
}

.gridArea {
    display: grid;
}

.leftColumn {
    grid-column: 2/5;
}

.rightColumn {
    grid-column: 5/8;
    text-align: center;
}

.activitiesHeader {
    margin-bottom: none;
    font-size: 20px;
}

.bio {
    width: 25vw;
    height: 10vh;
    margin-left: 10vw;
    margin-top: 0;
    border: 1px solid #AAB5A8;
    padding: 5px;
    border-radius: 5px;
}

.title {
    padding-right: 50px;
}


